@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-96 justify-center items-center mx-auto my-10;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.placeholder-wrap::placeholder {
  white-space: pre-wrap; /* Allows the placeholder text to wrap */
  text-overflow: ellipsis; /* Adds ellipsis if the text overflows */
  overflow: hidden; /* Ensures that the text does not overflow the input field */
}

